h1{
  font-family: "Arial";
}
p{
  font-family: 'Barrio', cursive ;
}
*{
  padding: 2px;
}
.gabs{
  box-sizing:border-box;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.sulav{
  box-sizing:border-box;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.8);
}
