body{
  background: url(https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350) ;
}
div{
  background: violet;
  border-color: blue;
  border-width: 2px;
  border-style: double;
}
p{
  color:yellow;
}
span{
  background: red;
  color:black
}
